
    <div class="container">

    <div class="jumbotron">
      <h1>{{msg}}</h1>
     <h3>Guitars Guitars Guitars</h3>
      <hr>
      <a href="/" class="btn btn-info btn-md ml-3">
        <span class="fa fa-eye"></span> Search Guitar Players</a>
      <a href="/add" class="btn btn-info btn-md ml-3">
        <span class="fa fa-plus"></span> Add Guitar Player</a>
      <a href="/all" class="btn btn-info btn-md ml-3">
        <span class="fa fa-th-list"></span> All Guitar Players</a>
      <a href="/lastFm" class="btn btn-info btn-md ml-3">
        <span class="fa fa-th-list"></span> LastFm</a>
      <a href="/short" class="btn btn-info btn-md ml-3">
        <span class="fa fa-th-list"></span> Other</a>
    </div>
    <div class="row">

      <div class="col-lg-4">

        <div class="card mb-1">
          <div class="card-header">
            Position Search
          </div>
          <div class="card-body">
            <input type="text" id="rank-search" class="form-control">
            <br>
            <div class="text-right">
              <button class="btn btn-primary btn-md" id="search-btn">
                <span class="fa fa-search"></span> Search</button>
            </div>
          </div>
        </div>

        <div class="card mb-1">
          <div class="card-header">
           Guitar Player Search
          </div>
          <div class="card-body">
            <input type="text" id="guitar-search" class="form-control">
            <br>
            <div class="text-right">
              <button class="btn btn-primary btn-md" id="guitar-search-btn">
                <span class="fa fa-search"></span> Search</button>
            </div>
          </div>
        </div>

        <div class="card mb-1">
          <div class="card-header">
            Band Search
          </div>
          <div class="card-body">
            <input type="text" id="band-search" class="form-control">
            <br>
            <div class="text-right">
              <button class="btn btn-primary btn-md" id="band-search-btn">
                <span class="fa fa-search"></span> Search</button>
            </div>
          </div>
        </div>

        <div class="card mb-1">
          <div class="card-header">
            Genre Search
          </div>
          <div class="card-body">
            <input type="text" id="genre-search" class="form-control">
            <br>
            <div class="text-right">
              <button class="btn btn-primary btn-md" id="genre-search-btn">
                <span class="fa fa-search"></span> Search</button>
            </div>
          </div>
        </div>

      </div>
      <div clas=row>
                        <div class="card mb-1 pl-7">
                          <div class="card-header">
                            <h2 style="color:yellow;">Player Search Results</h2>
                          </div>
                          <div class="card-body">
                            <div class="well" id="stats">
                              <h2 id="position">Guitarist:</h2>
                              <div>
                                <h6>
                                  <strong>Player</strong>
                                  <span id="player"></span>
                                </h6>
                                <h6>
                                  <strong>Genre:</strong>
                                  <span id="genre"></span>
                                </h6>
                                <h6>
                                  <strong>Band:</strong>
                                  <span id="band"></span>
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
    </div>
  </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>