<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>


    <div class="container-fluid">


        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome to the Guitar Gods Top 100 Most Awesome Guitar Players of All Time!</h1>
                <p class="lead">As Determined by the Rolling Stone Magaizne</p>
            </div>
        </div>


        <div class="row">
            <div class="col bg-success">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Display All</h5>
                        <p class="card-text">We want be able to Display All Guitarists</p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col bg-warning">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Search for Guitarist</h4>
                        <!-- This form will be where users input data about the guitarists -->
                        <form id="gtr-form" action="display.html" method="GET">
                            <label for="gtr-input" name="serial number" id="input">We want to be able to Search for a
                                particular Guitarist</label>
                            <input type="text" id="gtr-input">
                            <!-- This button will trigger our AJAX call -->
                            <input id="find-gtr" type="submit" value="Search">
                        </form>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col bg-success">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Search for Rank</h4>
                        <!-- This form will be where users input data about the guitarists -->
                        <form id="movie-form" action="display.html" method="GET">
                            <label for="movie-input" name="serial number" id="input">We want to be able to Search for a
                                particular Ranking</label>
                            <input type="text" id="movie-input">
                            <!-- This button will trigger our AJAX call -->
                            <input id="find-rank" type="submit" value="Search">

                        </form>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col bg-warning">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Delete Guitarist</h4>
                        <!-- This form will be where users input data about the gutiarists -->
                        <form id="movie-form" action="display.html" method="GET">
                            <label for="movie-input" name="serial number" id="input">We want to be able to delete a guitarist</label>
                            <input type="text" id="movie-input">
                            <!-- This button will trigger our AJAX call -->
                            <input id="find-rank" type="submit" value="Search">
                        </form>
                        <br>
                    </div>
                </div>
            </div>
            </form>
            <br>
        </div>
    </div>
    </div>

    </div>
    <!--row container closing-->
    <div class="col bg-warning">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Enter Your Favorite Guitarist</h4>

                <form class="clearfix " action="POST">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Example Position: 1">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Example Guitarist; Joe Satriani">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Example Genre: Shred">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Example Band: ">
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>

    <div class=container>
        <div id="success">
            <div id="artistName"></div>
            <br>
            <div id="topAlbum5img"></div>

            <p id="topTracks"></p>
            <div id="topTrack1"></div>
            <div id="topTrack2"></div>
            <div id="topTrack3"></div>
            <div id="topTrack4"></div>
            <div id="topTrack5"></div>
            <br>
            <p id="topAlbums"></p>
            <div id="topAlbum1"></div>
            <div id="topAlbum2"></div>
            <div id="topAlbum3"></div>
            <div id="topAlbum4"></div>
            <div id="topAlbum5"></div>
            <br>
            <p id="stats"></p>
            <div id="artistListeners"></div>
            <div id="artistPlaycount"></div>
            <br>
            <p id="bio"></p>
            <div id="artistBio"></div>

            <br>

            <p id="bands"></p>
            <div id="similar1"></div>
            <div id="similar2"></div>
            <div id="similar3"></div>
            <div id="similar4"></div>
            <div id="similar5"></div>

        </div>













    </div>
    <!--div class container closing-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

     <script src="../public/js/logicgtr.js"></script>


</body>

</html>