  <div class="container">

        <div class="jumbotron">
          <h1 id = "title">Guitar Gods</h1>
      <h3 id = "subtitle" >Last FM!</h3>
      <hr>
      <div class="clicks">
      <a href="/" class="btn btn-info btn-md  ml-3">
        <span class="fa fa-eye"></span> Search Guitar Players</a>
      <a href="/add" class="btn btn-info btn-md  ml-3">
        <span class="fa fa-plus"></span> Add New Player</a>
      <a href="/all" class="btn btn-info btn-md  ml-3">
        <span class="fa fa-th-list"></span> All Guitar Players</a>
      <a href="/lastfm" class="btn btn-info btn-md  ml-3">
        <span class="fa fa-th-list"></span> Last Fm</a>
     <a href="/deezer" class="btn btn-info btn-md  ml-3">
        <span class="fa fa-th-list"></span> Deezer</a>
      <a href="/update" class="btn btn-info btn-md  ml-3">
        <span class="fa fa-th-list"></span> Update</a>
       <a href="https://johncarlobase.github.io/Envato-Guitar-Gods/" class="btn btn-info btn-md  ml-3">
        <span class="fa fa-th-list"></span>Media Room</a>
    </div>
        </div>

<div class="row"><!--Start roW-->
        <div class="col-6 bg">
            <!--Second column End-->
            <div class="card mb-4">
                <div class="card-header">
                    LastFM Guitar Player Search
                </div>
                <div class="card-body">
                    <input type="text" id="guitar-search" class="form-control">
                    <br>
                    <div class="text-right">
                        <button class="btn btn-primary btn-md" id="api-search-btn">
                            <span class="fa fa-search"></span> Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Second column End-->

        <!--Third column Start-->
        <div class="col-6 bg">

        <div class="card mb-4">
            <div class="card-header ">
                <h3>Player Search Results</h3>
            </div>
            <div class="card-body ">
                <div class="well" id="stats">
                    <h5 id="position">Guitarist:</h5>
                    <div>
                        <h6>
                            <strong>Player</strong>
                            <span id="player"></span>
                        </h6>
                        <h6>
                            <strong>Genre:</strong>
                            <span id="genre"></span>
                        </h6>
                        <h6>
                            <strong>Band:</strong>
                            <span id="band"></span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        </div> <!--Jumbortron End Div-->
    </div>  <!--Containter End Div-->

<!--Last Fm CODE ***************************************************************************************************************************************-->

         <div class="col bg-info">
            <div class="card">
                <div class="card-body-lastfm">
                    <h4 class="card-title">Search LastFm for Guitarist Stats and Info</h4>
                    <!-- This form will be where users input data about the guitarists -->
                    <form id="gtr-form" action="display.html" method="GET">
                        <label for="gtr-input" name="serial number" id="input">Search the Guitarist or Band</label>
                        <input type="text" id="gtr-input">
                        <!-- This button will trigger our AJAX call -->
                        <input id="find-gtr" type="submit" value="Search">
                    </form>
                    <br>
                </div>
            </div>
        </div>

        <div class="container hide-alert">
            <div id="success-lastfm">
               <strong> <div id="artistName"></div></strong>
                <br>
                <div id="topAlbum5img"></div>

                <strong><p id="topTracks"></p></strong>
                <div id="topTrack1"></div>
                <div id="topTrack2"></div>
                <div id="topTrack3"></div>
                <div id="topTrack4"></div>
                <div id="topTrack5"></div>
                <br>
                 <strong> <p id="topAlbums"></p></strong>
                <div id="topAlbum1"></div>
                <div id="topAlbum2"></div>
                <div id="topAlbum3"></div>
                <div id="topAlbum4"></div>
                <div id="topAlbum5"></div>
                <br>
                 <strong> <p id="statsFM"></p></strong>
                <div id="artistListeners"></div>
                <div id="artistPlaycount"></div>
                
                <br>

                 <strong> <p id="bands"></p></strong>
                <div id="similar1"></div>
                <div id="similar2"></div>
                <div id="similar3"></div>
                <div id="similar4"></div>
                <div id="similar5"></div>

                <br>
                 <strong> <p id="bio"></p></strong>
                <div id="artistBio"></div>

            </div>
        </div>










<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/logicgtr.js"></script>
