<div class="container">

        <div class="jumbotron">
            <h1 id ="title">MEDIA!!!</h1>
            <h3 id = "subtitle" >MEDIA!!!</h3>
            <hr>
            <div class="container clicks">
                <a href="/" class="btn btn-info btn-md  ml-3">
                    <span class="fa fa-eye"></span> Search Guitar Players</a>
                <a href="/add" class="btn btn-info btn-md  ml-3">
                    <span class="fa fa-plus"></span> Add New Player</a>
                <a href="/all" class="btn btn-info btn-md  ml-3">
                    <span class="fa fa-th-list"></span> All Guitar Players</a>
                <a href="/lastFm" class="btn btn-info btn-md  ml-3">
                    <span class="fa fa-th-list"></span> LastFm</a>
                <a href="/update" class="btn btn-info btn-md  ml-3">
                    <span class="fa fa-th-list"></span> Update</a>
                <a href="/media" class="btn btn-info btn-md  ml-3">
                    <span class="fa fa-th-list"></span>Media Room</a>
            </div>
        </div>